<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>{{ villa.name }}</h2>
    <p>{{ villa.description }}</p>

        <p>Booking successful!</p>
        <h3>Villa is occupied for the following Dates:</h3>
        <ul>
            {% for check_in_date, check_out_date in booked_dates %}
            <li>{{ check_in_date }} - {{ check_out_date }}</li>
            {% endfor %}
        </ul>
    <p>
        <a href="{%url 'villa_booking_app:index'%}">Return to home</a>
    </p>
</body>
</html>